#home{
	position:relative;
	margin: 10px;
	filter: invert(1)
}
h1, h2{
	display:flex;
	position:relative;
	justify-content:center;
	margin-top:10%;
}
#gif{
	display:block;
	margin:4px auto 10px auto ;
	width:350px;
}
body{
	font-family:consolas;
	font-size:14px;
	color:#FFFFFF;
	background-image:url(../imagem/fundoform.png);
	background-repeat: justify no-repeat;
	background-size:100%;
}